html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top left, #1f0c39, #0b0519);
  color: #c3b3d8;
  margin: 0;
  padding: 0;
  height: 100%;
}

.text-color-white{
  color: white;
}

.m-r-4{
  margin-right: 4px;
}
